
*{
    margin: 0;
}

header{
    background-color: blue;
    height: 25%;
}
main{
    background-color: aqua;
    width: 60%;
    height: max-content;
}
aside{
    background-color: aquamarine;
    width: 40%;
    float: right;
}
footer{
    background-color: bisque;
    display: flex;
    height: 10%;
}